.App {
  text-align: center;
  margin-top: 0 !important;
  background-color: rgb(15, 1, 1);
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-size: cover;
  background-position:center;
  min-height: 100%;
  min-width: 100%;

  top: 0;
  left: 0;
  position:fixed;
}

#Title h1{
  text-shadow: 2px 2px black;
  text-align:left;
  margin: 20px;
  font-size: 30px;
  color: firebrick;
}

#Search{
  text-shadow: 2px 2px black;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  color: firebrick;
}

#feedback {
  text-align:left;
  margin: 20px;
  font-size: 15px;

}

#welcome{
  color:whitesmoke;
  text-shadow: 2px 2px black;
  margin-bottom: 5px;
}

.Heading {
  margin-top:50px;
}

#Directions
{
    width: 400px;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    color:white;
    padding: 10px;
    margin: 10px;
    margin-top:5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a:hover {
  color: rgb(235, 235, 235);
}

body {
  background-color: #F0FFFF;
  height:100vh;
  min-height:100%;
}

a{
  text-decoration:none;
  color:white;
}

.larger{
  font-size: 40px;
  color: #e1c699;
  height: 50px;
}

#game {
  color:white;
  width: 500px;
  margin: auto;
  margin-top:0px;
}

/* #gameInput {
  height: fit-content;
  font-size: 12px;
  padding: 10px;
} */

#prevImg {
  border-radius: 5px;
  height: 150px;
  width: 150x;
  margin-top: 5px;
}

.songCard{
  color:white;
  text-shadow: 2px 2px black;
  margin: 15px;
  width: 175px;
  align-items:center;
  display: inline-block;
  border: none;
  background-color:transparent;
}

#timer {
  display:flex;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  flex-flow: row wrap;
  flex-direction: row-reverse;
  height: 80px;
  width: 100px;
  padding: 10px;
  justify-content: center;
  font-size: 50px;
  justify-content: 'space-between';
  margin-bottom: 125px;

}

#signIn {
  cursor: pointer;
  background-color: black;
  color: white;
  text-align:center;
  font-size:20px;
  border-radius: 40px;
  width: fit-content;
  height:fit-content;
  padding: 12px 28px;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  margin: auto;
  margin-top:20px;
  display:inline-block;
}

#logo {
  margin:auto;
  max-width:75%;
  max-height: 100%;
  width: auto;
  height: auto;
  position:relative;
  margin-top:60px;
  display:inline-block;

}
.song-name{
  margin: 4px;
  font-size: 15px;
}

.list {
  text-decoration: none;
  list-style-type: none;
  margin:0px;
  padding: 0;
}
.container2{
  display:flex;
  justify-content: center;
  margin:10px;
}
.container {
  display:flex;
  flex-direction: row;
  width: 800px;
  margin: auto;

}

.score {
  margin: 10px;
}

.list-container {
  margin:20px;
  width: 800px;
  margin-top:0;
  margin-bottom:30px;

}

.game-container, .audioplayer {
  width: 250px;
  height:250px;
  margin: auto;
}


#replay {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0 0.3em 0.3;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  width: 182px;
  /* background-color: #00FF00;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: 170px; */
  }
  /* border-radius:10px;
  font-size:15px;
  height: 30px;
  width: 100px;
  padding: 5px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: transparent;
} */

#replay:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

#diffPlaylist {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0.5em 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#F45B69;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  width: 182px;
  /* background-color: #FFFF00;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: 170px; */

}
#diffPlaylist:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
#myPlayer {
  margin:20px;
  position:'relative';
}
.player {
  display:inline-block;
}

.frontContainer {
  height: 50%;
  width: 50%;
  max-height: 600px;
  display: grid;
  gap: 0px;
  grid-template-columns: (1,1fr);
  grid-template-rows: auto 40px;
  transform: translate(50%, 0%);
}

input {
    border-radius: 50px;
    border: 2px solid black;
    width: 250px;
    height: 20px;
    margin-top:10px;
    margin-bottom:10px;
    padding:5px;
}

#Search input{
  border-radius: 50px;
  border: 1px solid black;
  width: 250px;
  height: 25px;
  margin: 5px;
  margin-top:0px;
  margin-bottom:10px;
  padding: 5px;
}

#next {
  cursor: pointer;
  border-radius:40px;
  font-size:12px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin-top:10px;
  margin-bottom:10px;
}

.songCard:hover,
.songCard:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  cursor: pointer;
}

#searchButton {
  cursor: pointer;
  text-align:center;
  border-radius: 40px;
  width: fit-content;
  height:fit-content;
  padding: 5px 5px;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  margin: auto;
  margin-top:20px;
  display:inline-block;
}

#spotifyType {
  cursor: pointer;
  text-align:center;
  border-radius: 40px;
  width: fit-content;
  height:fit-content;
  padding: 5px 5px;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  margin: auto;
  margin-top:20px;
  display:inline-block;
}

@font-face {
  font-family: 'Neon';
  src: local('Neon'), url(./fonts/hello-denver-display/hellodenverdisplayregular_v1.6.woff) format('woff');
}

#Neon {
  margin-top: 150px;
  margin-bottom: 20px;
  font-family: 'Neon';
  font-size: 100px;
  color:rgba(255, 255, 255, 1);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}