.App {
  text-align: center;
  margin-top: 0 !important;
  background-image: url(./images/Song-SavantBackground.jpg);
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-size: cover;
  background-position:center;
  min-height: 100%;
  min-width: 100%;
  
  top: 0;
  left: 0;
  position:fixed;
}

#Title h1{
  text-shadow: 2px 2px black;
  text-align:left;
  margin: 20px;
  font-size: 30px;
  color: firebrick;
}

#feedback {
  text-shadow: 2px 2px black;
  text-align:left;
  margin: 20px;
  font-size: 15px;
  
}

#welcome{
  color:whitesmoke;
  text-shadow: 2px 2px black;
}

.Heading {
  margin-top:50px;
}

#Directions 
{
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    color:white;
    padding: 10px;
    margin: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a:hover {
  color: black;
  text-shadow: 2px 2px white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #F0FFFF;
  height:100vh;
  min-height:100%;
}

a{
  text-decoration:none;
  color:white;
}

#game {
  color:white;
  width: 500px;
  margin: auto;
}

#prevImg {
  border-radius: 5px;
}

.songCard{
  color:white;
  text-shadow: 2px 2px black;
  margin: 20px;
  width: 175px;
  align-items:center;
  display: inline-block;
  border: none;
  background-color:transparent;
}

#timer {
  display:flex;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  flex-flow: row wrap;
  flex-direction: row-reverse;
  height: 80px;
  width: 100px;
  padding: 10px;
  justify-content: center;
  font-size: 50px;
  justify-content: 'space-between';
  margin-bottom: 125px;

}

#signIn {
  background-color: black;
  color: white;
  text-align:center;
  font-size:20px;
  border-radius: 40px;
  width: fit-content;
  height: 50px;
  padding: 12px 28px;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  left: 50%;
  margin-top:5px;
  transform: translate(-50%, 0);
  display:inline-block;
}

#logo {
  margin-left:auto;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  position:relative;
  margin-top:60px;
  left: 50%;
  transform: translate(-50%, 0);
  display:inline-block;

}

.list {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  display:flex;
  flex-direction: row;
  width: 500px;
  margin: auto;

}

.list-container {
  width: 250px;
  margin-top:0;
  margin-bottom:30px;
}

.game-container, .audioplayer {
  width: 250px;
  height:250px;
  margin: auto;
}


#replay {
  border-radius:40px;
  font-size:15px;
  height: 30px;
  width: 100px;
  padding: 5px;
}

#diffPlaylist {
  border-radius:40px;
  font-size:15px;
  height: 30px;
  width: 150px;
  padding: 5px;
}

#myPlayer {
  margin:20px;
  position:'relative';
}

.player {
  display:inline-block;
}

.frontContainer {
  height: 100%;
  width: 50%;
  display: grid;
  gap: 0px;
  grid-template-columns: (1,1fr);
  grid-template-rows: auto 40px;
  left: 50%;
  transform: translate(50%, 0%);
}